/* You can add global styles to this file, and also import other style files */

.fondoAzul{
    background: lightblue !important;
}
.fondoVerde{
    background: green !important;
}
.letraGrande{
    font-size: 40px;
} 
.activado{
    font-weight: bold;
    background: lightblue;
    
}